xterm*ScrollBar: true
xterm*faceName: DejaVu Sans Mono Book
xterm*faceNameDoublesize: WenQuanYi Micro Hei
xterm*faceSize: 11
xterm*allowBoldFonts: false
xterm*foreground: grey100 
xterm*background: rgb:30/10/10
!xterm*background: black
